.about-us{
  padding: 0 1.56rem;
}

.about-us h1{
  margin-top:3rem;
  padding: 1.56rem 0;
}

.about-img{
  display: none;
}

.experience{
  margin-top: 3.12rem;
}

.experience h2, .who-we-are h2{
  font-weight: 900;
}

@media screen and (min-width:650px) {
  .about-us{
    padding:0 17rem 0 3.12rem;
  }
  
  .about-us h1{
    margin-top:5rem;
  }

  .about-img-container{
    position: absolute;
    width: 17rem;
    overflow-x: hidden;
    top:15rem;
    right: 0;
  }

  .about-img{
    display: block;
    filter: drop-shadow(10px 5px 10px rgba(0,0,0,.2));
  }
}

@media screen and (min-width:800px) {
  .about-us{
    padding: 0 20rem 0 4.68rem;
  }

  .about-img-container{
    width: 19rem;
  }
}

@media screen and (min-width:995px) {
  .about-us{
    padding-right:22rem;
  }
  
  .about-img-container{
    width: 21rem;
  }
}

@media screen and (min-width:1100px){
  .about-us{
    padding: 0 26rem 0 10vw;
  }

  .about-img-container {
    width: 23rem;
    top:13rem;
  }
}

@media screen and (min-width:1350px) {
  .about-img-container{
    width: 30rem;
    top:9rem;
  }

  .about-us{
    padding-right: 30rem;
  }
}